*.suo
*.opendb
*.db
*.obj
*.log
*.tlog
*.idb
*.pdb
*.user
prj/UnitTestImageJuggler/Debug/UnitTestImageJuggler.pch
prj/ImageJuggler/ipch/UNITTESTIMAGEJUGGLER-233ce5a8/UNITTESTIMAGEJUGGLER-aacdd7df.ipch
prj/ImageJuggler/Debug/UnitTestImageJuggler.ilk
*.tga
/prj/ImageJuggler/ImageJuggler/Debug/ijimagetranslator.obj.enc
