*.suo
*.opendb
*.db
*.obj
*.log
*.tlog
*.idb
*.pdb
*.user
prj/UnitTestImageJuggler/Debug/UnitTestImageJuggler.pch
prj/ImageJuggler/ipch/UNITTESTIMAGEJUGGLER-233ce5a8/UNITTESTIMAGEJUGGLER-aacdd7df.ipch
prj/ImageJuggler/Debug/UnitTestImageJuggler.ilk
*.tga
/prj/ImageJuggler/ImageJuggler/Debug/ijimagetranslator.obj.enc
/prj/ImageJuggler/ImageJuggler/Debug/ijimage.obj.enc
/prj/ImageJuggler/ImageJuggler/Debug/ijyuvpackedconverter.obj.enc
*.diagsession
/prj/ImageJuggler/Release/Test.ipdb
/prj/ImageJuggler/Release/Test.iobj
/prj/ImageJuggler/Release/Test.exe
/prj/ImageJuggler/Release/ImageJuggler.lib
/prj/ImageJuggler/Debug/output/dbg/y_image.zip
/prj/ImageJuggler/Debug/output/dbg/y_image.pvr
/prj/ImageJuggler/Debug/output/dbg/dbg.zip
*.enc
*.dbglg
*.i
prj/xcode4/ios/ImageJuggler_Test.xcworkspace/xcuserdata/vladimir.gnidenko.xcuserdatad/UserInterfaceState.xcuserstate
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/dgph
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/ImageJuggler_d-all-non-framework-target-headers.hmap
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/ImageJuggler_d-all-target-headers.hmap
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/ImageJuggler_d-generated-files.hmap
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/ImageJuggler_d-own-target-headers.hmap
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/ImageJuggler_d-project-headers.hmap
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/ImageJuggler_d.hmap
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImageInterface.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImageInterface.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImageInterface.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImageTranslator.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImageTranslator.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJImageTranslator.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJMainWorker.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJMainWorker.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJMainWorker.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJPackedColourImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJPackedColourImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJPackedColourImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJRGBImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJRGBImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJRGBImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJSingleCompImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJSingleCompImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJSingleCompImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJYCbCrImage888.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJYCbCrImage888.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJYCbCrImage888.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJYUVPackedConverter.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJYUVPackedConverter.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/IJYUVPackedConverter.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/ImageJuggler.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/ImageJuggler.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/ImageJuggler.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/ImageJuggler_d.LinkFileList
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/i386/libImageJuggler_d.a
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImageInterface.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImageInterface.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImageInterface.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImageTranslator.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImageTranslator.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJImageTranslator.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJMainWorker.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJMainWorker.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJMainWorker.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJPackedColourImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJPackedColourImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJPackedColourImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJRGBImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJRGBImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJRGBImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJSingleCompImage.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJSingleCompImage.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJSingleCompImage.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJYCbCrImage888.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJYCbCrImage888.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJYCbCrImage888.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJYUVPackedConverter.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJYUVPackedConverter.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/IJYUVPackedConverter.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/ImageJuggler.d
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/ImageJuggler.dia
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/ImageJuggler.o
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/ImageJuggler_d.LinkFileList
prj/xcode4/ios/obj/Debug/ImageJuggler/ImageJuggler.build/Objects-normal/x86_64/libImageJuggler_d.a
prj/xcode4/ios/obj/Debug/Test/Test.build/dgph
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d-all-non-framework-target-headers.hmap
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d-all-target-headers.hmap
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d-generated-files.hmap
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d-own-target-headers.hmap
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d-project-headers.hmap
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d.app.xcent
prj/xcode4/ios/obj/Debug/Test/Test.build/Test_d.hmap
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Profiling.d
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Profiling.dia
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Profiling.o
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Source.d
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Source.dia
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Source.o
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Test_d.LinkFileList
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/i386/Test_d_dependency_info.dat
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Profiling.d
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Profiling.dia
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Profiling.o
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Source.d
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Source.dia
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Source.o
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Test_d.LinkFileList
prj/xcode4/ios/obj/Debug/Test/Test.build/Objects-normal/x86_64/Test_d_dependency_info.dat
prj/xcode4/ios/obj/Release/ImageJuggler/ImageJuggler.build/dgph
prj/xcode4/ios/obj/Release/Test/Test.build/dgph
prj/xcode4/ios/Test.xcodeproj/project.xcworkspace/xcuserdata/vladimir.gnidenko.xcuserdatad/UserInterfaceState.xcuserstate
prj/xcode4/ios/Test.xcodeproj/xcuserdata/vladimir.gnidenko.xcuserdatad/xcschemes/Test.xcscheme
