*.suo
*.opendb
*.db
*.obj
*.log
*.tlog
*.idb
*.pdb
*.user
prj/UnitTestImageJuggler/Debug/UnitTestImageJuggler.pch
prj/ImageJuggler/ipch/UNITTESTIMAGEJUGGLER-233ce5a8/UNITTESTIMAGEJUGGLER-aacdd7df.ipch
prj/ImageJuggler/Debug/UnitTestImageJuggler.ilk
*.tga
/prj/ImageJuggler/ImageJuggler/Debug/ijimagetranslator.obj.enc
/prj/ImageJuggler/ImageJuggler/Debug/ijimage.obj.enc
/prj/ImageJuggler/ImageJuggler/Debug/ijyuvpackedconverter.obj.enc
*.diagsession
/prj/ImageJuggler/Release/Test.ipdb
/prj/ImageJuggler/Release/Test.iobj
/prj/ImageJuggler/Release/Test.exe
/prj/ImageJuggler/Release/ImageJuggler.lib
/prj/ImageJuggler/Debug/output/dbg/y_image.zip
/prj/ImageJuggler/Debug/output/dbg/y_image.pvr
/prj/ImageJuggler/Debug/output/dbg/dbg.zip
